<!-- start custom head snippets -->
{% if page.vega %}
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
<script src="https://cdn.jsdelivr.net/gh/koaning/justcharts/justcharts.js"></script>
{% endif %}

{% if page.plotly %}
<script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
{% endif %}


{% if page.scrollama %}
<script src="https://unpkg.com/scrollama"></script>
{% endif %}


<link rel="icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}" sizes="any">
<link rel="icon" type="image/png" href="{{ '/assets/favicon/favicon-256.png' | relative_url }}" sizes="256x256">
<link rel="apple-touch-icon" href="{{ '/assets/favicon/favicon-256.png' | relative_url }}">
<link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
<meta name="msapplication-TileColor" content="#333333">
<meta name="msapplication-config" content="{{site.baseurl}}/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#333333">

{% if include.imghero %}
<meta property="og:image" content="{{ include.imghero | absolute_url }}">
{% else %}
<meta property="og:image" content="https://summerschool2025.sobigdata.eu/assets/images/poggio.jpg">
{% endif %}


